<!-----------------------template para el componente de bienvenida al usuario------------------->

<header class="jumbotron jumbotron-fluid text-center">
    <br><br><br><br>
    <div class="container">
        <h1 class="display-4">Hola, {{userName}}, <br> Bienvenido a Credit Pro Manager</h1>
        <hr>
        <p class="lead">Gracias por elegirnos!</p>
        <p class="lead">Administre de manera eficiente sus créditos y clientes.</p>
        <br>
        <a routerLink="/Home/Administration" class="btn btn-primary btn-lg">Ir al panel de Administración</a>
    </div>
</header>
