<!--------------plantila del error page --------------------------------------------------------->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-container">
                <img src="https://cdn.dribbble.com/users/1138875/screenshots/4669703/404_animation.gif" alt="Error 404" title="Error 404" id="img">
                <p class="lead">Página no encontrada</p>
                <p>Lo sentimos, la página que está buscando no está disponible.</p>
            </div>
        </div>
    </div>
</div>