<!--Contenedores - inicio --------------------------------------------------------------------->
<section class="min-vh-100" style="background-color: #5f67da;">
    <div class="container py-5 h-100">
  
      <!--Contenedores Centrados para recoverAccount------------------------------------------------->
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
  
              <!--Imagen logotipo - inicio -------------------------------------------------------->
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  src="https://img.freepik.com/vector-premium/prestamo-efectivo-credito-finanzas-logotipo-icono-ilustracion-marca-identidad_7109-752.jpg"
                  title="CREDIT PRO MANAGER" alt="login form" class="img-fluid"
                  style="border-radius: 1rem 0 0 1rem; cursor: pointer;" />
              </div>
  
  
              <!--Contenedores form- inicio----------------------------------------------------->
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
  
                  <!--Formulario reactivo - inicio------------------------------------------------->
                  <form>
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #a14317;"> $ </i>
                      <span class="h2 fw-bold mb-0" style="color: rgb(189, 1, 1);">CREDIT PRO - MANAGER</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Recupere su contraseña aquí: </h5>
  
                    <div class="form-outline mb-3">
                      <label class="form-label" for="form2Example17">usuario o email</label>
                      <input type="email" id="form2Example17" class="form-control form-control-lg"
                        placeholder="Ejemplo: MiUsuario@gmail.com" />
                    </div>

                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="button">Recuperar contraseña</button>

                      &nbsp;
                      <button class="btn btn-dark btn-lg btn-block" type="button" routerLink="/">Regresar</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
