<!-----------------------Contenedor de los cards de informacion---------------------->
<div class="container mt-5">

    <!-----------Encabezado del componente---------------------------->
    <h3 class="text-center mb-4" style="color: blue;"><i class="bi bi-speedometer2"></i> Panel de Administración</h3>
    <hr>

    <!-----------Columnas para el cardss------------------>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        <!-- Cards de Clientes -->

        <!------------Cards Clientes Generales ----------------------->
        <div class="col">
            <div class="card h-100 d-flex align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Clientes 1</h5>
                    <p class="card-text">Aquí puedes mostrar información relacionada con tus clientes.</p>
                </div>
            </div>
        </div>

        <!-----------------Cards Clientes 2 ----->
        <div class="col">
            <div class="card h-100 d-flex align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Clientes 2</h5>
                    <p class="card-text">Aquí puedes mostrar información relacionada con tus clientes.</p>
                </div>
            </div>
        </div>

        <!-----------------Cards Clientes 2 ----->
        <div class="col">
            <div class="card h-100 d-flex align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Clientes 3</h5>
                    <p class="card-text">Aquí puedes mostrar información relacionada con tus clientes.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Línea horizontal -->
    <div class="row mt-4">
        <div class="col-12">
            <hr>
        </div>
    </div>


    <!-------------- Cards de Créditos -------------->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">


        <!-------------- Cards de Créditos 1 -------------->
        <div class="col">
            <div class="card h-100 d-flex align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Créditos 1</h5>
                    <p class="card-text">Aquí puedes mostrar información sobre los créditos.</p>
                </div>
            </div>
        </div>


        <!-------------- Cards de Créditos 2 -------------->
        <div class="col">
            <div class="card h-100 d-flex align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Créditos 2</h5>
                    <p class="card-text">Aquí puedes mostrar información sobre los créditos.</p>
                </div>
            </div>
        </div>


        <!-------------- Cards de Créditos 3-------------->
        <div class="col">
            <div class="card h-100 d-flex align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Créditos 3</h5>
                    <p class="card-text">Aquí puedes mostrar información sobre los créditos.</p>
                </div>
            </div>
        </div>


        <!-------------- Cards de Créditos 4-------------->
        <div class="col">
            <div class="card h-100 d-flex align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Créditos 4</h5>
                    <p class="card-text">Aquí puedes mostrar información sobre los créditos.</p>
                </div>
            </div>
        </div>


        <!-------------- Cards de Créditos 5-------------->
        <div class="col">
            <div class="card h-100 d-flex align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Créditos 5</h5>
                    <p class="card-text">Aquí puedes mostrar información sobre los créditos.</p>
                </div>
            </div>
        </div>


        <!-------------- Cards de Créditos 6-------------->
        <div class="col">
            <div class="card h-100 d-flex align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Créditos 6</h5>
                    <p class="card-text">Aquí puedes mostrar información sobre los créditos.</p>
                </div>
            </div>
        </div>
    </div>
</div>