<!-- Section: Design Block -->
<!------- contenedores del registro-->
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        
        
        <!-------------- Contendores del campo de informacion------------------------>
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">

                <!------- titulo informativo---------------------------->
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    CREDIT PRO <br />
                    <span style="color: hsl(218, 81%, 75%)"> Manager</span>
                </h1>

                <!-------- Descripcion funciones----------------------------------------------->
                <div class="mb-4 text-muted text-justify">
                    <p class="text-white">
                        Descubre la excelencia con <strong>Credit Pro Manager</strong>, la solución definitiva para
                        gestionar eficientemente tus créditos y clientes. </p>

                    <ul class="list-unstyled text-white">
                        <li>
                            <strong>✔ Eficiencia sin igual:</strong> Simplificamos el proceso de administración de
                            créditos y clientes de formas personalizables.
                        </li> <br>
                        <li>
                            <strong>✔ Filtros avanzados:</strong> Organiza y gestiona tus créditos y clientes de la
                            manera que mejor se adapte a tus necesidades, garantizando una administración más efectiva.
                        </li> <br>
                        <li>
                            <strong>✔ Seguridad y confiabilidad:</strong> Protegemos tus datos con los más altos
                            estándares de seguridad.
                        </li>
                    </ul>

                    <p class="text-white">
                        Descubre por qué <strong>Credit Pro Manager</strong> es la elección preferida para aquellos que
                        buscan una solución integral y efectiva para la gestión de créditos y clientes. Simplifica tus
                        operaciones y lleva tu negocio al siguiente nivel con nosotros.
                    </p>
                </div>


            </div>


            <!----------------------------Conteneodres inicio de registro---------------------------->
            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">

                        <!-------------Inicio de Formularioo --------------------------------------->
                        <form>

                            <h4 class="text-center ">REGISTRO DE ADMINISTRADORES</h4>
                            <br>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">CC - identificación</label>
                                <input type="number" id="form3Example3" class="form-control" placeholder="Ejemplo: 1026875499"/>
                            </div>

                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example1">Nombres</label>
                                        <input type="text" id="form3Example1" class="form-control" placeholder="Ejemplo: Administrador 1" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example2">Apellidos</label>
                                        <input type="text" id="form3Example2" class="form-control" placeholder="Ejemplo: Admin ejemplo" />
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">Usuario o email</label>
                                <input type="email" id="form3Example3" class="form-control"  placeholder="Ejemplo: AdministradorCuentas@gmail.com" />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4">Contraseña</label>
                                <input type="password" id="form3Example4" class="form-control"  placeholder="*************************"/>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4">Confirme la contraseña</label>
                                <input type="password" id="form3Example4" class="form-control"  placeholder="*************************"/>
                            </div>



                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Registrar Administrador
                            </button>

                            &nbsp; &nbsp;
                            <button type="submit" class="btn btn-primary btn-block mb-4" routerLink="/loggin">
                                Ir a inicio de Sessión
                            </button>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->